*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:black;
  color:#fff;
}
.hero h1{
    font-size:80px;
    color:#ff005c;
    letter-spacing:5px;
    margin-bottom:18px;
}
    
/* ===== Container ===== */
.container{
  max-width:1200px;
  margin:60px auto;
  padding:20px;
}

/* ===== Grid ===== */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

/* ===== Card ===== */
.card{
  background:linear-gradient(145deg,#151826,#0f1220);
  border-radius:14px;
  padding:25px;
  min-height:260px;
  position:relative;
  box-shadow:0 15px 40px rgba(0,0,0,0.6);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 60px rgba(255,0,60,0.25);
}

/* ===== Image Box ===== */
.card img{
  width:300px;
  height:300px;
  object-fit:contain;
  margin-bottom:20px;
  filter:drop-shadow(0 0 10px rgba(255,0,60,0.4));
}

/* ===== Title ===== */
.card h3{
  font-size:18px;
  margin-bottom:10px;
  color:#fff;
}

/* ===== Text ===== */
.card p{
  font-size:14px;
  color:#b8b8c7;
  line-height:1.6;
}

/* ===== Read More ===== */
.read-more{
  position:absolute;
  bottom:20px;
  left:25px;
  color:#ff003c;
  font-size:13px;
  letter-spacing:1px;
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:8px;
}

.read-more span{
  transition:0.3s;
}

.card:hover .read-more span{
  transform:translateX(6px);
}